<%= javascript_include_tag "validations" %>
<%= stylesheet_link_tag "email" %>

<div  style="float:left; padding:0px; margin:0px;">                    
   	 <a href = "javascript:void(0)" onclick ="document.getElementById('light_email').style.display='block';document.getElementById('fade').style.display='block'">
	 <%= image_tag('/images/email.jpg',:style => 'border:none;') %></a>
	                   </div>
<div id="light_email" class="white_content">
<div>
<div class="add_team flo_left">
Enter Email Details</div>
<div class="flo_right">
<a href = "javascript:void(0)" onclick = "document.getElementById('light_email').style.display='none';document.getElementById('fade').style.display='none'">
<input type="image" src="/images/close.gif" /></a>
</div>
<div class="clear"></div>
</div>
<div class="clear"></div>

<% form_for :home,:url =>{:controller =>"home",:action =>"email_to_frd",  :perm => @user.myname ,:id =>@user.account_id} ,:html => {:onSubmit => "return check_validate();" } do %>

<table style="font-family:Arial, Helvetica, sans-serif; font-size:13px; padding:0px; height:auto;" width="500" >

<tr><td colspan="3" height="3"></td></tr>
<tr><td colspan="4" valign="top">
<table >

<tr>
<td  style=" font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#3574c2;">Recipient(s)</td>
<td>:</td>
<td  align="left"><input type="text" name="recipient" id="recipient" size="60"/></td>
</tr>
<tr><td colspan="3" height="3"></td></tr>
<tr>
<td  style=" font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#3574c2;">Subject</td>
<td>:</td>
<td  align="left"><input type="text" name="subject" id="subject" size="60"/></td>
</tr>
<tr><td colspan="3" height="3"></td></tr>

<tr>
<td  style=" font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#3574c2;">Body</td>
<td>:</td>
<td  align="left"> <textarea rows="15" cols="40" name="body" id="body"></textarea></td>
</tr>

<tr><td colspan="3" height="3"></td></tr>


</table>
</td></tr>

<tr>
<td colspan="4">

<table width="300" align="center">
<tr>
 
<td id="TB_closeAjaxWindow" style="width:100px; float:left"><a href='#' id='TB_closeWindowButton' title='Submit'>
  <input type="image" src="/images/submit.jpg" /></a></td>

</tr>

</table>
</td>
</tr>

</table>


<% end %>

	<!--<a href = "javascript:void(0)" onclick = "document.getElementById('light<%#=sport.name%>').style.display='none';document.getElementById('fade').style.display='none'"><input type="image" src="/images/cancel.jpg" /></a>-->
	</div>



  <div id="fade" class="black_overlay"></div>




